In [9]:
#!/usr/bin/python

""" 
    Starter code for exploring the Enron dataset (emails + finances);
    loads up the dataset (pickled dict of dicts).

    The dataset has the form:
    enron_data["LASTNAME FIRSTNAME MIDDLEINITIAL"] = { features_dict }

    {features_dict} is a dictionary of features associated with that person.
    You should explore features_dict as part of the mini-project,
    but here's an example to get you started:

    enron_data["SKILLING JEFFREY K"]["bonus"] = 5600000
    
"""

import pickle
import pandas as pd

enron_data = pickle.load(open("../final_project/final_project_dataset.pkl", "r"))

In [10]:
data= pd.DataFrame.from_dict(enron_data, orient='index')
data.head(10)

,salary,to_messages,deferral_payments,total_payments,exercised_stock_options,bonus,restricted_stock,shared_receipt_with_poi,restricted_stock_deferred,total_stock_value,...,loan_advances,from_messages,other,from_this_person_to_poi,poi,director_fees,deferred_income,long_term_incentive,email_address,from_poi_to_this_person
ALLEN PHILLIP K,201955,2902,2869717,4484442,1729541,4175000,126027,1407,-126027,1729541,...,NaN,2195,152,65,False,NaN,-3081055,304805,phillip.allen@enron.com,47
BADUM JAMES P,NaN,NaN,178980,182466,257817,NaN,NaN,NaN,NaN,257817,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
BANNANTINE JAMES M,477,566,NaN,916197,4046157,NaN,1757552,465,-560222,5243487,...,NaN,29,864523,0,False,NaN,-5104,NaN,james.bannantine@enron.com,39
BAXTER JOHN C,267102,NaN,1295738,5634343,6680544,1200000,3942714,NaN,NaN,10623258,...,NaN,NaN,2660303,NaN,False,NaN,-1386055,1586055,NaN,NaN
BAY FRANKLIN R,239671,NaN,260455,827696,NaN,400000,145796,NaN,-82782,63014,...,NaN,NaN,69,NaN,False,NaN,-201641,NaN,frank.bay@enron.com,NaN
BAZELIDES PHILIP J,80818,NaN,684694,860136,1599641,NaN,NaN,NaN,NaN,1599641,...,NaN,NaN,874,NaN,False,NaN,NaN,93750,NaN,NaN
BECK SALLY W,231330,7315,NaN,969068,NaN,700000,126027,2639,NaN,126027,...,NaN,4343,566,386,False,NaN,NaN,NaN,sally.beck@enron.com,144
BELDEN TIMOTHY N,213999,7991,2144013,5501630,953136,5249999,157569,5521,NaN,1110705,...,NaN,484,210698,108,True,NaN,-2334434,NaN,tim.belden@enron.com,228
BELFER ROBERT,NaN,NaN,-102500,102500,3285,NaN,NaN,NaN,44093,-44093,...,NaN,NaN,NaN,NaN,False,3285,NaN,NaN,NaN,NaN
BERBERIAN DAVID,216582,NaN,NaN,228474,1624396,NaN,869220,NaN,NaN,2493616,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,david.berberian@enron.com,NaN

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 146 entries, ALLEN PHILLIP K to YEAP SOON
Data columns (total 21 columns):
salary                       146 non-null object
to_messages                  146 non-null object
deferral_payments            146 non-null object
total_payments               146 non-null object
exercised_stock_options      146 non-null object
bonus                        146 non-null object
restricted_stock             146 non-null object
shared_receipt_with_poi      146 non-null object
restricted_stock_deferred    146 non-null object
total_stock_value            146 non-null object
expenses                     146 non-null object
loan_advances                146 non-null object
from_messages                146 non-null object
other                        146 non-null object
from_this_person_to_poi      146 non-null object
poi                          146 non-null bool
director_fees                146 non-null object
deferred_income              146 non-null object
long_term_incentive          146 non-null object
email_address                146 non-null object
from_poi_to_this_person      146 non-null object
dtypes: bool(1), object(20)
memory usage: 24.1+ KB

In [12]:
data['poi'].sum()

18

In [13]:
data.columns

Index([u'salary', u'to_messages', u'deferral_payments', u'total_payments',
       u'exercised_stock_options', u'bonus', u'restricted_stock',
       u'shared_receipt_with_poi', u'restricted_stock_deferred',
       u'total_stock_value', u'expenses', u'loan_advances', u'from_messages',
       u'other', u'from_this_person_to_poi', u'poi', u'director_fees',
       u'deferred_income', u'long_term_incentive', u'email_address',
       u'from_poi_to_this_person'],
      dtype='object')

In [14]:
#pd.to_numeric(data[['salary', 'to_messages', 'deferral_payments', 'total_payments', 'exercised_stock_options', 'bonus', 'restricted_stock', 'restricted_stock_deferred', 'total_stock_value', 'expenses', 'loan_advances', 'director_fees','deferred_income', 'long_term_incentive']])

In [15]:
#data['salary', 'to_messages', 'deferral_payments', 'total_payments', 'exercised_stock_options', 'bonus', 'restricted_stock', 'restricted_stock_deferred', 'total_stock_value', 'expenses', 'loan_advances', 'director_fees',
#       'deferred_income', 'long_term_incentive'] = data['salary', 'to_messages', 'deferral_payments', 'total_payments', 'exercised_stock_options', 'bonus', 'restricted_stock', 'restricted_stock_deferred', 'total_stock_value', 'expenses', 'loan_advances', 'director_fees',
#       'deferred_income', 'long_term_incentive'].astype(float, inplace=True)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 146 entries, ALLEN PHILLIP K to YEAP SOON
Data columns (total 21 columns):
salary                       146 non-null object
to_messages                  146 non-null object
deferral_payments            146 non-null object
total_payments               146 non-null object
exercised_stock_options      146 non-null object
bonus                        146 non-null object
restricted_stock             146 non-null object
shared_receipt_with_poi      146 non-null object
restricted_stock_deferred    146 non-null object
total_stock_value            146 non-null object
expenses                     146 non-null object
loan_advances                146 non-null object
from_messages                146 non-null object
other                        146 non-null object
from_this_person_to_poi      146 non-null object
poi                          146 non-null bool
director_fees                146 non-null object
deferred_income              146 non-null object
long_term_incentive          146 non-null object
email_address                146 non-null object
from_poi_to_this_person      146 non-null object
dtypes: bool(1), object(20)
memory usage: 24.1+ KB

In [17]:
data['salary'].describe()

count     146
unique     95
top       NaN
freq       51
Name: salary, dtype: object

In [41]:
names= pd.read_csv('poi_names.txt')
len(names)

35

In [50]:
data.loc["PRENTICE": "total_stock_value "]

,salary,to_messages,deferral_payments,total_payments,exercised_stock_options,bonus,restricted_stock,shared_receipt_with_poi,restricted_stock_deferred,total_stock_value,...,loan_advances,from_messages,other,from_this_person_to_poi,poi,director_fees,deferred_income,long_term_incentive,email_address,from_poi_to_this_person
PRENTICE JAMES,NaN,NaN,564348,564348,886231,NaN,208809,NaN,NaN,1095040,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,james.prentice@enron.com,NaN
REDMOND BRIAN L,96840,1671,NaN,111529,7509039,NaN,381285,1063,NaN,7890324,...,NaN,221,NaN,49,False,NaN,NaN,NaN,brian.redmond@enron.com,204
REYNOLDS LAWRENCE,76399,NaN,51365,394475,4160672,100000,201483,NaN,-140264,4221891,...,NaN,NaN,202052,NaN,False,NaN,-200000,156250,NaN,NaN
RICE KENNETH D,420636,905,NaN,505050,19794175,1750000,2748364,864,NaN,22542539,...,NaN,18,174839,4,True,NaN,-3504386,1617011,ken.rice@enron.com,42
RIEKER PAULA H,249201,1328,214678,1099100,1635238,700000,283649,1258,NaN,1918887,...,NaN,82,1950,48,True,NaN,-100000,NaN,paula.rieker@enron.com,35
SAVAGE FRANK,NaN,NaN,NaN,3750,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,125034,-121284,NaN,NaN,NaN
SCRIMSHAW MATTHEW,NaN,NaN,NaN,NaN,759557,NaN,NaN,NaN,NaN,759557,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,matthew.scrimshaw@enron.com,NaN
SHANKMAN JEFFREY A,304110,3221,NaN,3038702,1441898,2000000,630137,1730,NaN,2072035,...,NaN,2681,1191,83,False,NaN,NaN,554422,jeffrey.shankman@enron.com,94
SHAPIRO RICHARD S,269076,15149,NaN,1057548,607837,650000,379164,4527,NaN,987001,...,NaN,1215,705,65,False,NaN,NaN,NaN,richard.shapiro@enron.com,74
SHARP VICTORIA T,248146,3136,187469,1576511,281073,600000,213063,2477,NaN,494136,...,NaN,136,2401,6,False,NaN,NaN,422158,vicki.sharp@enron.com,24
SHELBY REX,211844,225,NaN,2003885,1624396,200000,869220,91,NaN,2493616,...,NaN,39,1573324,14,True,NaN,-4167,NaN,rex.shelby@enron.com,13
SHERRICK JEFFREY B,NaN,613,NaN,NaN,1426469,NaN,405999,583,NaN,1832468,...,NaN,25,NaN,18,False,NaN,NaN,NaN,jeffrey.sherrick@enron.com,39
SHERRIFF JOHN R,428780,3187,NaN,4335388,1835558,1500000,1293424,2103,NaN,3128982,...,NaN,92,1852186,23,False,NaN,NaN,554422,john.sherriff@enron.com,28
SKILLING JEFFREY K,1111258,3627,NaN,8682716,19250000,5600000,6843672,2042,NaN,26093672,...,NaN,108,22122,30,True,NaN,NaN,1920000,jeff.skilling@enron.com,88
STABLER FRANK,239502,NaN,NaN,1112087,NaN,500000,511734,NaN,NaN,511734,...,NaN,NaN,356071,NaN,False,NaN,NaN,NaN,frank.stabler@enron.com,NaN
SULLIVAN-SHAKLOVITZ COLLEEN,162779,NaN,181993,999356,1362375,100000,NaN,NaN,NaN,1362375,...,NaN,NaN,162,NaN,False,NaN,NaN,554422,NaN,NaN
SUNDE MARTIN,257486,2647,NaN,1545059,NaN,700000,698920,2565,NaN,698920,...,NaN,38,111122,13,False,NaN,NaN,476451,marty.sunde@enron.com,37
TAYLOR MITCHELL S,265214,533,227449,1092663,3181250,600000,563798,300,NaN,3745048,...,NaN,29,NaN,0,False,NaN,NaN,NaN,mitchell.taylor@enron.com,0
THE TRAVEL AGENCY IN THE PARK,NaN,NaN,NaN,362096,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,362096,NaN,False,NaN,NaN,NaN,NaN,NaN
THORN TERENCE H,222093,266,16586,911453,4452476,NaN,365320,73,NaN,4817796,...,NaN,41,426629,0,False,NaN,NaN,200000,terence.thorn@enron.com,0
TILNEY ELIZABETH A,247338,460,NaN,399393,591250,300000,576792,379,NaN,1168042,...,NaN,19,152055,11,False,NaN,-575000,275000,elizabeth.tilney@enron.com,10
TOTAL,26704229,NaN,32083396,309886585,311764000,97343619,130322299,NaN,-7576788,434509511,...,83925000,NaN,42667589,NaN,False,1398517,-27992891,48521928,NaN,NaN
UMANOFF ADAM S,288589,111,NaN,1130461,NaN,788750,NaN,41,NaN,NaN,...,NaN,18,NaN,0,False,NaN,NaN,NaN,adam.umanoff@enron.com,12
URQUHART JOHN A,NaN,NaN,NaN,228656,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,36666,-36666,NaN,NaN,NaN
WAKEHAM JOHN,NaN,NaN,NaN,213071,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,109298,NaN,NaN,NaN,NaN
WALLS JR ROBERT H,357091,671,NaN,1798780,4346544,850000,1552453,215,NaN,5898997,...,NaN,146,2,0,False,NaN,NaN,540751,rob.walls@enron.com,17
WALTERS GARETH W,NaN,NaN,53625,87410,1030329,NaN,NaN,NaN,NaN,1030329,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
WASAFF GEORGE,259996,400,831299,1034395,1668260,325000,388167,337,NaN,2056427,...,NaN,30,1425,7,False,NaN,-583325,200000,george.wasaff@enron.com,22
WESTFAHL RICHARD K,63744,NaN,NaN,762135,NaN,NaN,384930,NaN,NaN,384930,...,NaN,NaN,401130,NaN,False,NaN,-10800,256191,dick.westfahl@enron.com,NaN
WHALEY DAVID A,NaN,NaN,NaN,NaN,98718,NaN,NaN,NaN,NaN,98718,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
WHALLEY LAWRENCE G,510364,6019,NaN,4677574,3282960,3000000,2796177,3920,NaN,6079137,...,NaN,556,301026,24,False,NaN,NaN,808346,greg.whalley@enron.com,186
WHITE JR THOMAS E,317543,NaN,NaN,1934359,1297049,450000,13847074,NaN,NaN,15144123,...,NaN,NaN,1085463,NaN,False,NaN,NaN,NaN,thomas.white@enron.com,NaN
WINOKUR JR. HERBERT S,NaN,NaN,NaN,84992,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,108579,-25000,NaN,NaN,NaN
WODRASKA JOHN,NaN,NaN,NaN,189583,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,189583,NaN,False,NaN,NaN,NaN,john.wodraska@enron.com,NaN
WROBEL BRUCE,NaN,NaN,NaN,NaN,139130,NaN,NaN,NaN,NaN,139130,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
YEAGER F SCOTT,158403,NaN,NaN,360300,8308552,NaN,3576206,NaN,NaN,11884758,...,NaN,NaN,147950,NaN,True,NaN,NaN,NaN,scott.yeager@enron.com,NaN
YEAP SOON,NaN,NaN,NaN,55097,192758,NaN,NaN,NaN,NaN,192758,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN

In [52]:
data.loc["COLDWELL":"to_messages"]

,salary,to_messages,deferral_payments,total_payments,exercised_stock_options,bonus,restricted_stock,shared_receipt_with_poi,restricted_stock_deferred,total_stock_value,...,loan_advances,from_messages,other,from_this_person_to_poi,poi,director_fees,deferred_income,long_term_incentive,email_address,from_poi_to_this_person
COLWELL WESLEY,288542,1758,27610,1490344,NaN,1200000,698242,1132,NaN,698242,...,NaN,40,101740,11,True,NaN,-144062,NaN,wes.colwell@enron.com,240
CORDES WILLIAM R,NaN,764,NaN,NaN,651850,NaN,386335,58,NaN,1038185,...,NaN,12,NaN,0,False,NaN,NaN,NaN,bill.cordes@enron.com,10
COX DAVID,314288,102,NaN,1101393,117551,800000,378082,71,NaN,495633,...,NaN,33,494,4,False,NaN,-41250,NaN,chip.cox@enron.com,0
CUMBERLAND MICHAEL S,184899,NaN,NaN,807956,NaN,325000,207940,NaN,NaN,207940,...,NaN,NaN,713,NaN,False,NaN,NaN,275000,NaN,NaN
DEFFNER JOSEPH M,206121,714,NaN,1208649,17378,600000,141833,552,NaN,159211,...,NaN,74,25553,4,False,NaN,NaN,335349,joseph.deffner@enron.com,115
DELAINEY DAVID W,365163,3093,NaN,4747979,2291113,3000000,1323148,2097,NaN,3614261,...,NaN,3069,1661,609,True,NaN,NaN,1294981,david.delainey@enron.com,66
DERRICK JR. JAMES V,492375,2181,NaN,550981,8831913,800000,1787380,1401,-1787380,8831913,...,NaN,909,7482,20,False,NaN,-1284000,484000,james.derrick@enron.com,64
DETMERING TIMOTHY J,210500,NaN,875307,1204583,2027865,425000,315068,NaN,-315068,2027865,...,NaN,NaN,1105,NaN,False,NaN,-775241,415657,timothy.detmering@enron.com,NaN
DIETRICH JANET R,250100,2572,NaN,1410464,1550019,600000,315068,1902,NaN,1865087,...,NaN,63,473,14,False,NaN,NaN,556416,janet.dietrich@enron.com,305
DIMICHELE RICHARD G,262788,NaN,NaN,2368151,8191755,1000000,126027,NaN,NaN,8317782,...,NaN,NaN,374689,NaN,False,NaN,NaN,694862,richard.dimichele@enron.com,NaN
DODSON KEITH,221003,176,NaN,319941,NaN,70000,NaN,114,NaN,NaN,...,NaN,14,774,3,False,NaN,NaN,NaN,keith.dodson@enron.com,10
DONAHUE JR JEFFREY M,278601,865,NaN,875760,765920,800000,315068,772,NaN,1080988,...,NaN,22,891,11,False,NaN,-300000,NaN,jeff.donahue@enron.com,188
DUNCAN JOHN H,NaN,NaN,NaN,77492,371750,NaN,NaN,NaN,NaN,371750,...,NaN,NaN,NaN,NaN,False,102492,-25000,NaN,NaN,NaN
DURAN WILLIAM D,210692,904,NaN,2093263,1451869,750000,189041,599,NaN,1640910,...,NaN,12,1568,3,False,NaN,NaN,1105218,w.duran@enron.com,106
ECHOLS JOHN B,182245,NaN,NaN,2692324,601438,200000,407503,NaN,NaN,1008941,...,NaN,NaN,53775,NaN,False,NaN,NaN,2234774,john.echols@enron.com,NaN
ELLIOTT STEVEN,170941,NaN,NaN,211725,4890344,350000,1788391,NaN,NaN,6678735,...,NaN,NaN,12961,NaN,False,NaN,-400729,NaN,steven.elliott@enron.com,NaN
FALLON JAMES B,304588,1755,NaN,3676340,940257,2500000,1392142,1604,NaN,2332399,...,NaN,75,401481,37,False,NaN,NaN,374347,jim.fallon@enron.com,42
FASTOW ANDREW S,440698,NaN,NaN,2424083,NaN,1300000,1794412,NaN,NaN,1794412,...,NaN,NaN,277464,NaN,True,NaN,-1386055,1736055,andrew.fastow@enron.com,NaN
FITZGERALD JAY L,199157,936,NaN,1414857,664461,350000,956775,723,NaN,1621236,...,NaN,16,285414,8,False,NaN,NaN,556416,jay.fitzgerald@enron.com,1
FOWLER PEGGY,NaN,517,NaN,NaN,1324578,NaN,560170,10,NaN,1884748,...,NaN,36,NaN,0,False,NaN,NaN,NaN,kulvinder.fowler@enron.com,0
FOY JOE,NaN,57,181755,181755,343434,NaN,NaN,2,NaN,343434,...,NaN,13,NaN,0,False,NaN,NaN,NaN,tracy.foy@enron.com,0
FREVERT MARK A,1060932,3275,6426990,17252530,10433518,2000000,4188667,2979,NaN,14622185,...,2000000,21,7427621,6,False,NaN,-3367011,1617011,mark.frevert@enron.com,242
FUGH JOHN L,NaN,NaN,50591,50591,176378,NaN,NaN,NaN,NaN,176378,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
GAHN ROBERT S,192008,NaN,73122,900585,83237,509870,235370,NaN,NaN,318607,...,NaN,NaN,76547,NaN,False,NaN,-1042,NaN,NaN,NaN
GARLAND C KEVIN,231946,209,NaN,1566469,636246,850000,259907,178,NaN,896153,...,NaN,44,60814,27,False,NaN,NaN,375304,kevin.garland@enron.com,10
GATHMANN WILLIAM D,NaN,NaN,NaN,NaN,1753766,NaN,264013,NaN,-72419,1945360,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
GIBBS DANA R,NaN,169,504610,966522,2218275,NaN,NaN,23,NaN,2218275,...,NaN,12,NaN,0,False,NaN,NaN,461912,dana.gibbs@enron.com,0
GILLIS JOHN,NaN,NaN,NaN,NaN,9803,NaN,75838,NaN,NaN,85641,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
GLISAN JR BEN F,274975,873,NaN,1272284,384728,600000,393818,874,NaN,778546,...,NaN,16,200308,6,True,NaN,NaN,71023,ben.glisan@enron.com,52
GOLD JOSEPH,272880,NaN,NaN,2146973,436515,750000,441096,NaN,NaN,877611,...,NaN,NaN,819288,NaN,False,NaN,NaN,304805,joe.gold@enron.com,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SHANKMAN JEFFREY A,304110,3221,NaN,3038702,1441898,2000000,630137,1730,NaN,2072035,...,NaN,2681,1191,83,False,NaN,NaN,554422,jeffrey.shankman@enron.com,94
SHAPIRO RICHARD S,269076,15149,NaN,1057548,607837,650000,379164,4527,NaN,987001,...,NaN,1215,705,65,False,NaN,NaN,NaN,richard.shapiro@enron.com,74
SHARP VICTORIA T,248146,3136,187469,1576511,281073,600000,213063,2477,NaN,494136,...,NaN,136,2401,6,False,NaN,NaN,422158,vicki.sharp@enron.com,24
SHELBY REX,211844,225,NaN,2003885,1624396,200000,869220,91,NaN,2493616,...,NaN,39,1573324,14,True,NaN,-4167,NaN,rex.shelby@enron.com,13
SHERRICK JEFFREY B,NaN,613,NaN,NaN,1426469,NaN,405999,583,NaN,1832468,...,NaN,25,NaN,18,False,NaN,NaN,NaN,jeffrey.sherrick@enron.com,39
SHERRIFF JOHN R,428780,3187,NaN,4335388,1835558,1500000,1293424,2103,NaN,3128982,...,NaN,92,1852186,23,False,NaN,NaN,554422,john.sherriff@enron.com,28
SKILLING JEFFREY K,1111258,3627,NaN,8682716,19250000,5600000,6843672,2042,NaN,26093672,...,NaN,108,22122,30,True,NaN,NaN,1920000,jeff.skilling@enron.com,88
STABLER FRANK,239502,NaN,NaN,1112087,NaN,500000,511734,NaN,NaN,511734,...,NaN,NaN,356071,NaN,False,NaN,NaN,NaN,frank.stabler@enron.com,NaN
SULLIVAN-SHAKLOVITZ COLLEEN,162779,NaN,181993,999356,1362375,100000,NaN,NaN,NaN,1362375,...,NaN,NaN,162,NaN,False,NaN,NaN,554422,NaN,NaN
SUNDE MARTIN,257486,2647,NaN,1545059,NaN,700000,698920,2565,NaN,698920,...,NaN,38,111122,13,False,NaN,NaN,476451,marty.sunde@enron.com,37
TAYLOR MITCHELL S,265214,533,227449,1092663,3181250,600000,563798,300,NaN,3745048,...,NaN,29,NaN,0,False,NaN,NaN,NaN,mitchell.taylor@enron.com,0
THE TRAVEL AGENCY IN THE PARK,NaN,NaN,NaN,362096,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,362096,NaN,False,NaN,NaN,NaN,NaN,NaN
THORN TERENCE H,222093,266,16586,911453,4452476,NaN,365320,73,NaN,4817796,...,NaN,41,426629,0,False,NaN,NaN,200000,terence.thorn@enron.com,0
TILNEY ELIZABETH A,247338,460,NaN,399393,591250,300000,576792,379,NaN,1168042,...,NaN,19,152055,11,False,NaN,-575000,275000,elizabeth.tilney@enron.com,10
TOTAL,26704229,NaN,32083396,309886585,311764000,97343619,130322299,NaN,-7576788,434509511,...,83925000,NaN,42667589,NaN,False,1398517,-27992891,48521928,NaN,NaN
UMANOFF ADAM S,288589,111,NaN,1130461,NaN,788750,NaN,41,NaN,NaN,...,NaN,18,NaN,0,False,NaN,NaN,NaN,adam.umanoff@enron.com,12
URQUHART JOHN A,NaN,NaN,NaN,228656,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,36666,-36666,NaN,NaN,NaN
WAKEHAM JOHN,NaN,NaN,NaN,213071,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,109298,NaN,NaN,NaN,NaN
WALLS JR ROBERT H,357091,671,NaN,1798780,4346544,850000,1552453,215,NaN,5898997,...,NaN,146,2,0,False,NaN,NaN,540751,rob.walls@enron.com,17
WALTERS GARETH W,NaN,NaN,53625,87410,1030329,NaN,NaN,NaN,NaN,1030329,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
WASAFF GEORGE,259996,400,831299,1034395,1668260,325000,388167,337,NaN,2056427,...,NaN,30,1425,7,False,NaN,-583325,200000,george.wasaff@enron.com,22
WESTFAHL RICHARD K,63744,NaN,NaN,762135,NaN,NaN,384930,NaN,NaN,384930,...,NaN,NaN,401130,NaN,False,NaN,-10800,256191,dick.westfahl@enron.com,NaN
WHALEY DAVID A,NaN,NaN,NaN,NaN,98718,NaN,NaN,NaN,NaN,98718,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
WHALLEY LAWRENCE G,510364,6019,NaN,4677574,3282960,3000000,2796177,3920,NaN,6079137,...,NaN,556,301026,24,False,NaN,NaN,808346,greg.whalley@enron.com,186
WHITE JR THOMAS E,317543,NaN,NaN,1934359,1297049,450000,13847074,NaN,NaN,15144123,...,NaN,NaN,1085463,NaN,False,NaN,NaN,NaN,thomas.white@enron.com,NaN
WINOKUR JR. HERBERT S,NaN,NaN,NaN,84992,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,108579,-25000,NaN,NaN,NaN
WODRASKA JOHN,NaN,NaN,NaN,189583,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,189583,NaN,False,NaN,NaN,NaN,john.wodraska@enron.com,NaN
WROBEL BRUCE,NaN,NaN,NaN,NaN,139130,NaN,NaN,NaN,NaN,139130,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
YEAGER F SCOTT,158403,NaN,NaN,360300,8308552,NaN,3576206,NaN,NaN,11884758,...,NaN,NaN,147950,NaN,True,NaN,NaN,NaN,scott.yeager@enron.com,NaN
YEAP SOON,NaN,NaN,NaN,55097,192758,NaN,NaN,NaN,NaN,192758,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN

In [53]:
data.loc['SKILLING':]

,salary,to_messages,deferral_payments,total_payments,exercised_stock_options,bonus,restricted_stock,shared_receipt_with_poi,restricted_stock_deferred,total_stock_value,...,loan_advances,from_messages,other,from_this_person_to_poi,poi,director_fees,deferred_income,long_term_incentive,email_address,from_poi_to_this_person
SKILLING JEFFREY K,1111258,3627,NaN,8682716,19250000,5600000,6843672,2042,NaN,26093672,...,NaN,108,22122,30,True,NaN,NaN,1920000,jeff.skilling@enron.com,88
STABLER FRANK,239502,NaN,NaN,1112087,NaN,500000,511734,NaN,NaN,511734,...,NaN,NaN,356071,NaN,False,NaN,NaN,NaN,frank.stabler@enron.com,NaN
SULLIVAN-SHAKLOVITZ COLLEEN,162779,NaN,181993,999356,1362375,100000,NaN,NaN,NaN,1362375,...,NaN,NaN,162,NaN,False,NaN,NaN,554422,NaN,NaN
SUNDE MARTIN,257486,2647,NaN,1545059,NaN,700000,698920,2565,NaN,698920,...,NaN,38,111122,13,False,NaN,NaN,476451,marty.sunde@enron.com,37
TAYLOR MITCHELL S,265214,533,227449,1092663,3181250,600000,563798,300,NaN,3745048,...,NaN,29,NaN,0,False,NaN,NaN,NaN,mitchell.taylor@enron.com,0
THE TRAVEL AGENCY IN THE PARK,NaN,NaN,NaN,362096,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,362096,NaN,False,NaN,NaN,NaN,NaN,NaN
THORN TERENCE H,222093,266,16586,911453,4452476,NaN,365320,73,NaN,4817796,...,NaN,41,426629,0,False,NaN,NaN,200000,terence.thorn@enron.com,0
TILNEY ELIZABETH A,247338,460,NaN,399393,591250,300000,576792,379,NaN,1168042,...,NaN,19,152055,11,False,NaN,-575000,275000,elizabeth.tilney@enron.com,10
TOTAL,26704229,NaN,32083396,309886585,311764000,97343619,130322299,NaN,-7576788,434509511,...,83925000,NaN,42667589,NaN,False,1398517,-27992891,48521928,NaN,NaN
UMANOFF ADAM S,288589,111,NaN,1130461,NaN,788750,NaN,41,NaN,NaN,...,NaN,18,NaN,0,False,NaN,NaN,NaN,adam.umanoff@enron.com,12
URQUHART JOHN A,NaN,NaN,NaN,228656,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,36666,-36666,NaN,NaN,NaN
WAKEHAM JOHN,NaN,NaN,NaN,213071,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,109298,NaN,NaN,NaN,NaN
WALLS JR ROBERT H,357091,671,NaN,1798780,4346544,850000,1552453,215,NaN,5898997,...,NaN,146,2,0,False,NaN,NaN,540751,rob.walls@enron.com,17
WALTERS GARETH W,NaN,NaN,53625,87410,1030329,NaN,NaN,NaN,NaN,1030329,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
WASAFF GEORGE,259996,400,831299,1034395,1668260,325000,388167,337,NaN,2056427,...,NaN,30,1425,7,False,NaN,-583325,200000,george.wasaff@enron.com,22
WESTFAHL RICHARD K,63744,NaN,NaN,762135,NaN,NaN,384930,NaN,NaN,384930,...,NaN,NaN,401130,NaN,False,NaN,-10800,256191,dick.westfahl@enron.com,NaN
WHALEY DAVID A,NaN,NaN,NaN,NaN,98718,NaN,NaN,NaN,NaN,98718,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
WHALLEY LAWRENCE G,510364,6019,NaN,4677574,3282960,3000000,2796177,3920,NaN,6079137,...,NaN,556,301026,24,False,NaN,NaN,808346,greg.whalley@enron.com,186
WHITE JR THOMAS E,317543,NaN,NaN,1934359,1297049,450000,13847074,NaN,NaN,15144123,...,NaN,NaN,1085463,NaN,False,NaN,NaN,NaN,thomas.white@enron.com,NaN
WINOKUR JR. HERBERT S,NaN,NaN,NaN,84992,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,108579,-25000,NaN,NaN,NaN
WODRASKA JOHN,NaN,NaN,NaN,189583,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,189583,NaN,False,NaN,NaN,NaN,john.wodraska@enron.com,NaN
WROBEL BRUCE,NaN,NaN,NaN,NaN,139130,NaN,NaN,NaN,NaN,139130,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
YEAGER F SCOTT,158403,NaN,NaN,360300,8308552,NaN,3576206,NaN,NaN,11884758,...,NaN,NaN,147950,NaN,True,NaN,NaN,NaN,scott.yeager@enron.com,NaN
YEAP SOON,NaN,NaN,NaN,55097,192758,NaN,NaN,NaN,NaN,192758,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN

In [86]:
data['poi'].count()

146

In [96]:
data.loc[:u'poi', u'total_payments'].isnull().sum()

0

In [98]:
data.loc[:u'total_payments'].describe()

,salary,to_messages,deferral_payments,total_payments,exercised_stock_options,bonus,restricted_stock,shared_receipt_with_poi,restricted_stock_deferred,total_stock_value,...,loan_advances,from_messages,other,from_this_person_to_poi,poi,director_fees,deferred_income,long_term_incentive,email_address,from_poi_to_this_person
count,146,146,146,146,146,146,146,146,146,146,...,146,146,146,146,146,146,146,146,146,146
unique,95,87,40,126,102,42,98,84,19,125,...,5,65,93,42,2,18,45,53,112,58
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
freq,51,60,107,21,44,64,36,60,128,20,...,142,60,53,60,128,129,97,80,35,60

In [99]:
enron_data = pickle.load(open("../final_project/final_project_dataset.pkl", "r"))
money, n_poi, n_sal, n_email, total_payments, n_poi_nan_pay = 0, 0, 0, 0, 0, 0
people = ("SKILLING JEFFREY K", "LAY KENNETH L","FASTOW ANDREW S") 
who = ""

for i in enron_data:
	if enron_data[i]["poi"]:
		n_poi += 1
		if enron_data[i]["total_payments"] == "NaN":
			n_poi_nan_pay += 1
	if enron_data[i]["email_address"] != "NaN":
		n_email += 1
	if enron_data[i]["salary"] != "NaN":
		n_sal += 1
	if enron_data[i]["total_payments"] == "NaN":
		total_payments += 1

for i in people:
	if money<enron_data[i]["total_payments"]:
		money = enron_data[i]["total_payments"]
		who = i

print "- How many data points (people) are in the dataset?\n+ %r" % len(enron_data)
print "- For each person, how many features are available?\n+ %r" % len(enron_data["SKILLING JEFFREY K"]) 
print "- How many POIs are there in the E+F dataset?\n+ %r" % n_poi
# check the poi_names.txt file
print "- How many POIs were there total?\n+ %r" % 35
print "- What is the total value of the stock belonging to James Prentice?\n+ %r" % enron_data["PRENTICE JAMES"]["total_stock_value"]
print "- How many email messages do we have from Wesley Colwell to persons of interest?\n+ %r" % enron_data["COLWELL WESLEY"]["from_this_person_to_poi"]
print "- What is the value of stock options exercised by Jeffrey Skilling?\n+ %r" % enron_data["SKILLING JEFFREY K"]["exercised_stock_options"]
print "- Of these three individuals (Lay, Skilling and Fastow), who took home the most money?\n+ %r, %r"% (who, money)
print "- How many folks in this dataset have a quantified salary?\n+ %r" % n_sal
print "- What about a known email address?\n+ %r" % n_email
print "- How many people in the E+F dataset have NaN for their total payments?\n+ %r" % (total_payments / float(len(enron_data)))
print "- What percentage of POIs in the dataset hane 'NaN' for their payments?\n+ %r" % (n_poi_nan_pay / float(n_poi))

- How many data points (people) are in the dataset?
+ 146
- For each person, how many features are available?
+ 21
- How many POIs are there in the E+F dataset?
+ 18
- How many POIs were there total?
+ 35
- What is the total value of the stock belonging to James Prentice?
+ 1095040
- How many email messages do we have from Wesley Colwell to persons of interest?
+ 11
- What is the value of stock options exercised by Jeffrey Skilling?
+ 19250000
- Of these three individuals (Lay, Skilling and Fastow), who took home the most money?
+ 'LAY KENNETH L', 103559793
- How many folks in this dataset have a quantified salary?
+ 95
- What about a known email address?
+ 111
- How many people in the E+F dataset have NaN for their total payments?
+ 0.14383561643835616
- What percentage of POIs in the dataset hane 'NaN' for their payments?
+ 0.0